#Renviron
.Renviron

#R 
.Rproj.user/
actividad_economica_via.Rproj
.RData
.Rhistory
*.RData

#html
README.html

#imagenes satelitales y rasters pesados de la NASA y WorldPop
dataset/*.tif
dataset/*.h5
dataset/luces_nocturnas/

#mapa original en formato comprimido o GeoJSON grande
#porfavor instale los datos manualmente o use los csv
dataset/*.geojson
dataset/*.rds

#graficos
anexo_verificacion_supuestos.pdf
grafico_0_imae_nacional.pdf
grafico_1_estrato_alto.pdf
grafico_2_estrato_medio.pdf
grafico_3_estrato_bajo.pdf

#qmd
paper/paper_densidad_vial.tex
paper/paper_densidad_vial.pdf
paper/paper_densidad_vial.aux
paper/paper_densidad_vial.bbl
paper/paper_densidad_vial.bcf
paper/paper_densidad_vial.blg
paper/paper_densidad_vial.log
paper/paper_densidad_vial.run.xml

#cvs
csv/*.csv